/* Nunito */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/animal-island-vue/fonts/nunito-latin-500-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/nunito-latin-500-normal.woff') format('woff');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/animal-island-vue/fonts/nunito-latin-700-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/nunito-latin-700-normal.woff') format('woff');
}
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/animal-island-vue/fonts/nunito-latin-900-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/nunito-latin-900-normal.woff') format('woff');
}
/* Noto Sans SC */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/animal-island-vue/fonts/noto-sans-sc-latin-400-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/noto-sans-sc-latin-400-normal.woff') format('woff'),
         url('/animal-island-vue/fonts/noto-sans-sc-chinese-simplified-400-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/noto-sans-sc-chinese-simplified-400-normal.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/animal-island-vue/fonts/noto-sans-sc-latin-500-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/noto-sans-sc-latin-500-normal.woff') format('woff'),
         url('/animal-island-vue/fonts/noto-sans-sc-chinese-simplified-500-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/noto-sans-sc-chinese-simplified-500-normal.woff') format('woff');
}
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/animal-island-vue/fonts/noto-sans-sc-latin-700-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/noto-sans-sc-latin-700-normal.woff') format('woff'),
         url('/animal-island-vue/fonts/noto-sans-sc-chinese-simplified-700-normal.woff2') format('woff2'),
         url('/animal-island-vue/fonts/noto-sans-sc-chinese-simplified-700-normal.woff') format('woff');
}